<div id="wrapper">
    <div id="main-container">
        <h1>{{title|titlecase}}</h1>
        <h4>Explore the world through the lens</h4>
        <hr style="border:none; height: 5px; border-radius: 10px; background-color: white; width:80%; margin:20px auto;">
        <div class="row">
            <div class="col-8 d-flex flex-column" id="info-container">
                <app-hobby-info></app-hobby-info>
            </div>
            <div class="col-4 d-flex flex-column image-container">
                <img src="../../assets/imgs/photo.png" alt="Image">
                <img src="../../assets/imgs/photographer.png" alt="Image">
            </div>
        </div>
    </div>
</div>
