<app-main-title></app-main-title>

<div class="container row">
  <div class="col-3" style="border-right: 3px groove darkgray;">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.britannica.com%2F47%2F188747-050-1D34E743%2FBill-Gates-2011.jpg&f=1&nofb=1&ipt=1845e19d52e349d67550f14e2edb676c11680651d4174078923f46043f4293e5&ipo=images"
         alt="Bill Gates" style="width:100%; margin-top: 5vh;">
  </div>
  <div class="col-9" style="padding-left: 2vw; padding-top: 3vh;">
    <app-biography></app-biography>
    <app-quotes></app-quotes>
    <app-sources></app-sources>
  </div>
</div>
