body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.wallpapertip.com%2Fwmimgs%2F0-2462_stars-background.jpg&f=1&nofb=1&ipt=a2ec0a967de2cbd1189cedd940b1dea17d3f49731d5762bdd342fac463a2e062&ipo=images");
  background-size:cover;
  background-repeat: no-repeat;
}