<div id="input-wrapper">
  <h1>Task 1</h1>
  <div>
    <label>Number of numbers: </label>
    <input type="number" [(ngModel)]="quantity" placeholder="Number of numbers">
  </div>
  <div>
    <label>Minimum: </label>
    <input type="number" [(ngModel)]="min" placeholder="Minimum">
  </div>
  <div>
    <label>Maximum: </label>
    <input type="number" [(ngModel)]="max" placeholder="Maximum">
  </div>
</div>

<h1>Current list: {{listHolder.result.random.data}}</h1>

<button (click)="getRandomList()">Generate New List</button>

<hr>
<h1>Task 2</h1>
<button (click)="flipCoin(0)">Heads</button>
<button (click)="flipCoin(1)">Tails</button>

<h2 *ngIf="guessResult != ''">You guessed {{guessResult}}!</h2>

<hr>
<h1>Task 3</h1>
<div id="dice-wrapper">
  <div class="dice-container">
    <button class="new-round-button" (click)="newRound()">New Round</button>
    <div style="display: flex;gap:20px;">
      <h3 style="margin:10px auto;">Your dice:</h3>
      <div *ngFor="let result of diceResultsPlayer;" class="dice">
        <span *ngIf="!rolling">
           {{ result ? result : '' }}
        </span>
      </div>
    </div>
    <div style="display: flex;gap:20px; margin-top:30px;">
      <h3 style="margin:10px auto;">Bot's dice:</h3>
      <div *ngFor="let result of diceResultsBot;" class="dice">
        <span *ngIf="!rolling">
           {{ result ? result : '' }}
        </span>
      </div>
    </div>
  </div>
  <h2 style="margin:20px auto;" *ngIf="!rolling">
    {{diceResult}}
  </h2>
</div>
