<div id="wrapper">
  <div id="main-container">
    <h1>About Photography Hobby</h1>
    <h4>Explore the world through the lens</h4>
    <hr style="border:none; height: 5px; border-radius: 10px; background-color: white; width:80%; margin:20px auto;">
    <div class="row">
      <div class="col-8 d-flex flex-column" id="info-container">
        <p>
          Photography is a wonderful hobby that allows you to capture and share the beauty of the world around you. Whether you're a beginner or an experienced photographer, this website is a place for you to showcase your passion for photography.
        </p>
        <p>
          Join our community and share your photos, tips, and experiences with fellow photographers. Explore stunning images, learn new techniques, and get inspired to capture the world in your unique way.
        </p>
      </div>
      <div class="col-4 d-flex flex-column image-container">
        <img src="../../assets/imgs/photo.png" alt="Image">
        <img src="../../assets/imgs/photographer.png" alt="Image">
      </div>
    </div>
  </div>
</div>
